<!DOCTYPE html>
<html>
  <head>
    <link href="../public/styles.css" rel="stylesheet" />
    <meta charset=utf-8 />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
    <title>Images</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
  </head>

  <body>
    <div class="course-container" >
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col" style="justify-content: center">
          <img src="../img/bookicon.png"/>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
          <img src="../img/calculator.png"/>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
          <img src="../img/medkit.png"/>
        </div>
      </div>
    </div>
  </body>

</html>
