body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 100%;
  width: 10%;
  position: absolute;
  left: 0;
  top: 0;
}

#frame{
  position: relative;
  width: 90%;
  height: 700px;
  left: 100px;
}

canvas{
  width: 100px;
}
